openapi: 3.1.0
info:
  title: API de Registro de Tenants en ProCobroPlus
  version: 1.0.0
  summary: Permite registrar nuevos tenants (empresas) en el sistema de ProCobroPlus.
servers:
  - url: https://procobroplus.online
paths:
  /central-api/tenants/register:
    post:
      summary: Registrar tenant
      description: Crea un nuevo tenant en el sistema central de ProCobroPlus.
      tags: [Tenants]

      security:
        - bearerAuth: []   # <- mantiene el esquema global

      parameters:
        - name: Authorization
          in: header
          description: Token de autenticación Bearer (usa formato `Bearer {TOKEN}`).
          required: true
          schema:
            type: string
            example: "Bearer {TOKEN_AQUI}"
            default: "Bearer {TOKEN_AQUI}"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, rut, bank_account, selling_type, password, password_confirmation]
              properties:
                name:
                  type: string
                  minLength: 3
                  example: Test Company
                email:
                  type: string
                  format: email
                  example: test@example.com
                rut:
                  type: string
                  example: "123456789"
                bank_account:
                  type: string
                  minLength: 5
                  example: "1234567890"
                selling_type:
                  type: string
                  enum: [products, services, both]
                  example: products
                password:
                  type: string
                  minLength: 8
                  example: password123
                password_confirmation:
                  type: string
                  example: password123
      responses:
        "201":
          description: Tenant creado correctamente
        "401":
          description: Token no proporcionado
        "403":
          description: Token inválido
        "422":
          description: Datos inválidos
        "409":
          description: Duplicado
        "500":
          description: Error interno
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
