openapi: 3.1.0
info:
  title: API de Registro de Tenants en ProCobroPlus
  version: 1.0.0
  summary: Permite registrar nuevos tenants (empresas) en el sistema de ProCobroPlus.
servers:
  - url: https://procobroplus.online
paths:
  /central-api/tenants:
    get:
      summary: Listar tenants
      description: Obtiene la lista de todos los tenants registrados en el sistema central de ProCobroPlus.
      tags: [Tenants]

      security:
        - bearerAuth: []   # <- mantiene el esquema global

      parameters:
        - name: Authorization
          in: header
          description: Token de autenticación Bearer (usa formato `Bearer {TOKEN}`).
          required: true
          schema:
            type: string
            example: "Bearer {TOKEN_AQUI}"
            default: "Bearer {TOKEN_AQUI}"

      responses:
        "200":
          description: Lista de tenants obtenida correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Listado de tenants obtenido exitosamente"
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 16
                      tenants:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: "ID_DEL_TENANT"
                            name:
                              type: string
                              nullable: true
                              example: "NOMBRE_DEL_TENANT"
                            email:
                              type: string
                              example: "empresa@ejemplo.com"
                            rut:
                              type: string
                              nullable: true
                              example: "1234567890"
                            selling_type:
                              type: string
                              nullable: true
                              enum: [products, services, both, ""]
                              example: "both"
                            merchant_id:
                              type: string
                              nullable: true
                              example: "1234567890"
                            external_id:
                              type: string
                              nullable: true
                              example: "1234567890"
        "401":
          description: Token no proporcionado
        "403":
          description: Token inválido
        "500":
          description: Error interno

  /central-api/tenants/register:
    post:
      summary: Registrar tenant
      description: Crea un nuevo tenant en el sistema central de ProCobroPlus.
      tags: [Tenants]

      security:
        - bearerAuth: []   # <- mantiene el esquema global

      parameters:
        - name: Authorization
          in: header
          description: Token de autenticación Bearer (usa formato `Bearer {TOKEN}`).
          required: true
          schema:
            type: string
            example: "Bearer {TOKEN_AQUI}"
            default: "Bearer {TOKEN_AQUI}"
        - name: Transfer-Encoding
          in: header
          description: Envíar siempre chunked
          required: true
          schema:
            type: string
            example: "chunked"
            

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, rut, bank_account, selling_type, merchant_id, external_id]
              properties:
                name:
                  type: string
                  minLength: 3
                  example: Test Company
                email:
                  type: string
                  format: email
                  example: test@example.com
                phone:
                  type: string
                  example: "099111222"
                rut:
                  type: string
                  example: "123456789"
                bank_account:
                  type: string
                  minLength: 5
                  example: "1234567890"
                selling_type:
                  type: string
                  enum: [products, services, both]
                  example: products
                merchant_id:
                  type: string
                  example: "1234567890"
                external_id:
                  type: string
                  example: "1234567890"
                  
      responses:
        "201":
          description: Tenant creado correctamente
        "401":
          description: Token no proporcionado
        "403":
          description: Token inválido
        "422":
          description: Datos inválidos
        "409":
          description: Duplicado
        "500":
          description: Error interno
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
